/* style.css */
body {
  background-color: rgb(6, 26, 27);
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 500px;
  margin: 60px auto;
}
.container h1 {
  text-align: center;
  color: white;
}
form {
  background-color: white;
  padding: 30px;
}
